<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.example.qrlo">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<meta-data
    android:name="com.google.android.gms.vision.DEPENDENCIES"
    android:value="barcode"></meta-data>


   <!--알림이 도착했을 때 나올 아이콘 및 컬러-->
  <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/ic_stat_ic_notification" />
  <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/colorAccent" />
   <!--알림을 받기 위한 채널 설정-->
  <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="@string/default_notification_channel_id" />
   <!--인스턴스 ID 자동 생성 방지-->
  <meta-data
      android:name="firebase_messaging_auto_init_enabled"
      android:value="false" />
  <meta-data
      android:name="firebase_analytics_collection_enabled"
      android:value="false" />


<uses-feature android:name="android.hardware.camera" />

<application
    android:usesCleartextTraffic="true"
    android:allowBackup="true"
    android:icon="@mipmap/qrlo_icon"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/qrlo_icon_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:hardwareAccelerated="true"
    tools:targetApi="m"
    >

    <activity android:name=".corona19_check"></activity>
    <activity
        android:name=".Signup.Signup"
        android:screenOrientation="fullSensor"
        tools:replace="screenOrientation" />



    <activity android:name=".AddressWebViewActivity"></activity>
    <!-- 최소 api 추가함 -->
    <activity android:name=".CreateQrActivity" />
    <activity android:name=".After_Login" />
    <activity android:name=".MyQrInfo" />
    <activity android:name=".ModQrActivity"/>
    <activity android:name=".MainActivity">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".bottomActivity.Bottom_Admin" />
    <activity android:name=".bottomActivity.Bottom_Administor_SMS1" />
    <activity android:name=".bottomActivity.Bottom_Administor_SMS2" />
    <activity android:name=".bottomActivity.Bottom_Administor_SMS3" />
    <activity android:name=".Signup.PhoneAuthName"/>
    <activity android:name=".Signup.PhoneAuthActivityOtp"/>
    <activity android:name=".Signup.PhoneAuthActivity"/>
    <activity android:name=".Signup.PhoneAuthAgree"/>
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
    <meta-data
        android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
        android:value="FALSE"/>


    <service
        android:name="MyFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>
</application>

</manifest>